*{
  margin: 0px;
}

body{
  background-color: #1d0101;
}

header{
  margin: 0 20% 0 20%;
  /* border: 1px solid yellow; */
}

.head-up{
  display: flex;
}

.clan-name{
  padding-top: 20px;
  color: #ffffff;
  flex: 1;
}

#title{
  font-size: 28px;
  font-weight: bold;
}

#sub-title{
  margin-left: 120px;
}

#search-bar{
  margin-top: 30px;
  height: 27px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-button{
  margin-top: 30px;
  height: 27px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30px;
  background-color: #b1b1b1;
  border: 1px solid #b1b1b1;
}

#nav-bar{
}

#elements-nav-bar{
  list-style: none;
  display: flex;
  width: 460px;
  margin: auto;
}

#elements-nav-bar .element{
margin-right: 15px;
font-family: arial;
font-size: 14px;
}

#elements-nav-bar .element a{
  border-top: 2px solid #ffffff;
  text-decoration: none;
  color: white;
  padding: 0 10px 0 10px;
  padding-top: 2px;
}

#elements-nav-bar .element a:hover{
  border-top: 2px solid #8fd055;
  color: #8fd055;
}


/* body */

#image-center{
  margin: 0 20% 0 20%;
  margin-top: 50px;
  /* border: 1px solid yellow; */
}

/* footer */
footer{
  margin-top: 50px;
  border-top: 2px solid gray;
}

#sponsors{
  padding: 50px 0 50px 0;
  text-align: center;
  background-color: #000000;
}

#copyright{
  border-top: 2px solid gray;
  background-color: #01001f;
  padding: 30px 0 30px 0;
  color: #ffffff;
}
